.clients {
    display: flex;
    margin-bottom: 60px;
}

.clients__logos {
    width: 60%;
}

.clients__reviews {
    width: 40%;
}

.cliens__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    li {
        margin-right: 40px;
        margin-bottom: 40px;
    }
}

.client-love {
    display: inline-block;
    margin-left: 40px;
    min-height: 47px;
    padding: 5px;

    background: url("../../img/heart.svg") no-repeat left 19px top 0;

    font-size: 1.2rem;
    color: #464646;
}

