.intro {
    margin-bottom: 30px;
    position: relative;

    background-color: $black;


    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

.intro--blog {
    height: 350px;

    background: $black url("../img/blog-bg.jpg") no-repeat center;
    background-size: cover;

    @media (max-width: 991px) {
        height: 250px;
    }
}

.intro--text {
    height: 350px;

    background: $black url("../img/text-bg.jpg") no-repeat center;
    background-size: cover;

    @media (max-width: 991px) {
        height: 250px;
    }
}


.intro__slider {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background: #04222a url("../img/intro-bg.jpg") no-repeat center;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    &.intro__slider-item {
        display: none;
    }

    &.slick-initialized {
        background: $black;
        display: block;
    }

    & .slick-list,
    & .slick-track {
        height: 100%;
    }

    &--arrows {
        position: absolute;
        bottom: 30px;
        left: 430px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.intro__slider-item {
    width: 100%;
    height: 100%;

    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__slider-photo {
    width: 100%;
    height: 100%;

    display: block;
    object-fit: cover;
    object-position: center;
}

.intro__slider-btn {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0 4px;

    border-style: solid;
    background: none;

    font-size: 0;
    color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &--prev {
        border-width: 10px 10px 10px 0;
        border-color: transparent $white transparent transparent;
    }

    &--next {
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $white;
    }
}

.intro__inner {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;

        height: auto;
        padding-top: 75px;
        padding-bottom: 25px;
    }
}

.intro__text {

    margin-bottom: 45px;
    text-align: right;
    pointer-events: auto;

    @media (max-width: 767px) {
        order: 1;
        width: 100%;
        margin-bottom: 25px;

        text-align: center;
    }
}

.intro__countries {
    font-size: 1rem;
    color: $white;
}

.intro__title {
    position: relative;

    font-family: 'Lato', sans-serif;
    font-size: 7.3rem;
    line-height: 0.9;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;

    @media (max-width: 991px) {
        font-size: 90px;
    }

    @media (max-width: 767px) {
        font-size: 70px;
    }

    @media (max-width: 575px) {
        font-size: 60px;
    }

    @media (max-width: 320px) {
        font-size: 40px;
    }
}

.intro__title-amp {
    font-size: 11.3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.2);

    position: absolute;
    right: 0;
    top: 50%;

    transform: translateY(-50%);

    @media (max-width: 991px) {
        font-size: 120px;
    }

    @media (max-width: 767px) {
        font-size: 100px;

        right: auto;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    @media (max-width: 575px) {
        font-size: 90px;
    }

    @media (max-width: 320px) {
        font-size: 50px;
    }
}






















