.nav {
    display: flex;
    height: 100%;
    font-size: 15px;

    @media (max-width: 767px) {
        display: none;
        width: 100%;
        height: auto;
        min-height: calc(100vh - 50px);
        flex-direction: column;
        padding-top: 9px;

        background-color: rgba(0, 0, 0, .85);

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;

    color: $white;
    text-decoration: none;

    &:not(.active):hover {
        text-decoration: underline;
    }

    &.active {
        background-color: $blue;
    }

    @media (max-width: 767px) {
        display: block;
        padding: 10px 15px;

        text-align: right;
    }
}

.burger {
    padding: 0;
    background: none;
    border: 0;

    display: none;

    @media (max-width: 767px) {
        display: block;
    }
}













