.reviews {
    position: relative;

    & .slick-list {
        padding-top: 20px;
        z-index: 2;
    }

    & .slick-dots {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: -20px;
        left: 0;
        z-index: 3;

        & button {
            display: block;
            width: 10px;
            height: 10px;
            padding: 0;

            background: #DBDBDB;
            border: 0;
            border-radius: 50%;
            cursor: pointer;

            color: transparent;
            font-size: 0;

            transition: background-color .2s linear, border-color .2s linear;

            &:focus {
                outline: none;
            }
        }

        & li {
            margin: 0 5px;

            &.slick-active button {

                background: #004AF2;
                box-shadow: 0 0 0 5px rgba(0, 74, 242, .11);
            }


            }
        }
    }


.reviews::before,
.reviews::after {
    content: "";
    display: block;
    width: 10px;
    height: 100%;

    position: absolute;
    top: 0;
    z-index: 3;
}

.reviews::before {
    left: 0;

    background-image: linear-gradient(to right, $white, rgba(255, 255, 255, 0));
}

.reviews::after {
    right: 0;

    background-image: linear-gradient(to left, $white, rgba(255, 255, 255, 0));
}

.reviews__item {
    display: none;
    padding: 0 10px;
}

.reviews__header {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
    z-index: 2;

    &::before {
        content: "";
        display: block;
        width: 92px;
        height: 126px;

        background: url("../img/lines.svg") no-repeat;

        position: absolute;
        top: -13px;
        left: 2px;
        z-index: 1;
    }
}

.reviews__header-main {
    flex-grow: 1;
    padding-left: 20px;

    font-family: 'Lato', sans-serif;
}

.reviews__photo {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 2;

    border-radius: 50%;
    border: 5px solid $white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16);
}

.reviews__name {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: $black_text;
    font-weight: 900;

}

.reviews__company {
    font-size: 1rem;
    color: $black_text;
    font-weight: 400;
}

.reviews__content {
    font-size: 1rem;
    line-height: 1.8rem;

    p {
        margin-bottom: 30px;

        &:first-line {
            text-indent: 20px;
        }
    }
}














