.section {
    padding: 60px;
}

.section--map {
    background: url("../img/map.svg") no-repeat left 30px top 130px;
}

.section--gray {
    background: $gray_section;
}

.section--last {
    margin-bottom: 60px;
}

.section__title {
    margin-bottom: 40px;

    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    color: $black_text;
    font-weight: 900;
}

.section__title-blue {
    color: $blue_dark;
}
