<!-- Footer -->
<footer class="footer">
    <div class="container">
        <img src="assets/img/logo-black.svg" alt="">
        <address class="footer__contacts">
            <p>New York, Street, ZIP code</p>
            <p>
            Call Us: <a href="tel:+9948373123">+9948373123</a> or E-mail:
            <a href="mailto:hello@centerlogistic.com">hello@centerlogistic.com</a>
            </p>
        </address>

        <nav class="footer__nav">
            <a href="#">Terms &amp; Contidions</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Our blog</a>
        </nav>
    </div>
</footer>
