<header class="header  header--dark">
    <div class="container">
        <div class="header__inner">
            <a href="index.html">
                <img class="img" src="assets/img/logo.svg" alt="CenterLogistic">
            </a>
            <nav class="nav">
                <a class="nav__link" href="index.html">Home</a>
                <a class="nav__link" href="blog.html">Blog</a>
                <a class="nav__link" href="text.html">Ptivacy Policy</a>
                <a class="nav__link" href="text-2.html">Terms &amp; Conditions</a>
            </nav>

            <button class="burger" type="button">
                <img class="burger__icon" src="assets/img/burger.svg" alt="">
            </button>

        </div><!--./header__inner-->
    </div><!--./container-->
</header>
