<header class="header  header--dark">
    <div class="container">
        <div class="header__inner">
            <a href="index.html">
                <img src="assets/img/logo.svg" alt="CenterLogistic">
            </a>
            <nav class="nav">
                <a class="nav__link active" href="#">Services</a>
                <a class="nav__link" href="#">Clients</a>
                <a class="nav__link" href="#">Benefits</a>
                <a class="nav__link" href="#">Team</a>
                <a class="nav__link" href="#">News</a>
                <a class="nav__link" href="#">Contact Us</a>
            </nav>

        </div><!--./header__inner-->
    </div><!--./container-->
</header>
