/* @media (max-width: 767px) {

}*/


@import "vars";


/* Default styles */
html {
    font-size: 16px;
}

body {
    margin: 0;

    background-color: $white;

    font-family: 'PT Sans', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.4;

    /* Сглаживаем шрифты */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.no-scroll,
    &.show-nav {
        overflow: hidden;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Сбрасываем по умолчанию все отступы заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

/* Сбрасываем отступы и стилизацию списков */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Прописываем класс для адаптивных картинок */
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

/* Vendor libs */
@import "vendor/slick";

/* AOS */
@import "../../../node_modules/aos/src/sass/aos";

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";


/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/form";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/services";
@import "blocks/clients";
@import "blocks/reviews";
@import "blocks/benefits";
@import "blocks/team";
@import "blocks/mission";
@import "blocks/articles";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/main";
@import "blocks/page";
@import "blocks/text";







