@import "vars";


/* Default styles */
html {
    font-size: 15px;
}

body {
    margin: 0;

    background-color: $white;

    font-family: 'PT Sans', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Сбрасываем по умолчанию все отступы заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Сбрасываем отступы и стилизацию списков */
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";


/* Blocks */
@import "blocks/header";
@import "blocks/container";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/form";
@import "blocks/btn";
