$white: #fff;
$orange: #FF3E2F;
$blue: #004AF2;
$blue_dark: #033FC9;
$red: #FC2C2B;
$black: #000;
$black_text: #2C2C2C;
$black_light: #585858;
$gray: #fafafa;
$gray_dark: #a1a1a1;
$gray_benefits: #A5A5A5;
$gray_section: #F9f9f9;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 5px 30px rgba(0, 0, 0, .2);

